<div class='country-name'>
  <h1>{{name.common}}</h1>
</div>
<div class='country-info'>
  <ul class="form-country-info">
    <li class="list-style">Capital: {{capital}}</li>
    <li class="list-style">Region: {{region}}</li>
    <li class="list-style list-style--languages">Languages:
    <ul>
      {{#each languages}}
      <li class="list-style">{{this.name}}</li>
      {{/each}}
    </ul>
  </ul>
</div>
<div class='country-flag'>
  <img 
  {{#each flags}}
  src={{this}} 
  {{/each}}
  alt='flag of {{name}}' 
  width='200' />
</div>